target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

###########################

### Temporary Directories ###
logs/
temp/
uploads/
downloads/

### H2 ###
*.mv.db
*.trace.db

### Angular ###

package-lock.json

# dependencies
node_modules/
node/

# e2e
e2e/*.js
e2e/*.map

#System Files
.DS_Store
Thumbs.db
